.new-friend {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 2.0289855072rem;
    background-color: white;
}

.new-friend .main-search {
    margin-bottom: 0.7246376812rem;
}

.new-friend .friend-list .friend-item .title {
    font-size: 0.5797101449rem;
}

.chat-head {
    height: 2.0289855072rem;
    background-color: #302f35;
    text-align: center;
    font-size: 0;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 5;
}

.chat-head .return-icon {
    position: absolute;
    height: 2.0289855072rem;
    color: white;
    font-size: 0.7826086957rem;
    line-height: 2.0289855072rem;
    left: 0.5217391304rem;
}

.chat-head .title {
    display: inline-block;
    vertical-align: top;
    font-size: 0.7826086957rem;
    color: white;
    line-height: 2.0289855072rem;
    margin-right: 0.0869565217rem;
    font-weight: normal;
}

.chat-head .fa-user {
    position: absolute;
    width: 0.8695652174rem;
    height: 2.0289855072rem;
    color: white;
    font-size: 1.0144927536rem;
    text-align: center;
    line-height: 2.0289855072rem;
    font-style: normal;
    right: 0.7246376812rem;
}

.chat-head .add-icon {
    position: absolute;
    width: 2.8985507246rem;
    height: 2.0289855072rem;
    color: white;
    font-size: 0.6666666667rem;
    text-align: right;
    line-height: 2.0289855072rem;
    font-style: normal;
    right: 0.7246376812rem;
}

.main-search {
    height: 2.4202898551rem;
    background-color: #efeff4;
    box-sizing: border-box;
    padding: 0.4347826087rem 0.3623188406rem;
}

.main-search .search-box {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0.2608695652rem;
    font-size: 0.7246376812rem;
    line-height: 1.5217391304rem;
    text-align: center;
    color: #8e8e93;
    letter-spacing: 0.0724637681rem;
    border: solid 1px #dfdfdd;
    position: relative;
}

.main-search .search-box .fa-microphone {
    position: absolute;
    right: 0.4347826087rem;
    top: 0.4347826087rem;
}

.friend-list .friend-item .title {
    height: 0.8985507246rem;
    background-color: #f1f0f6;
    font-size: 0.4347826087rem;
    color: #89888e;
    line-height: 0.8985507246rem;
    text-indent: 0.4347826087rem;
}

.friend-list .friend-item .list {
    box-sizing: border-box;
    padding: 0 0.4347826087rem;
}

.friend-list .friend-item .list .item {
    height: 2.2608695652rem;
    border-bottom: solid 1px #e2e2e2;
    box-sizing: border-box;
    padding: 0.3768115942rem 0;
}

.friend-list .friend-item .list .item .friend-photo {
    float: left;
    width: 1.5072463768rem;
    height: 1.5072463768rem;
    background-color: palegreen;
    margin-right: 0.4637681159rem;
}

.friend-list .friend-item .list .item .friend-photo img {
    width: 100%;
    height: 100%;
}

.friend-list .friend-item .list .item .friend-name {
    font-size: 0.6376811594rem;
}

.chat-list {
    box-sizing: border-box;
    padding: 0 0 0 0.4347826087rem;
}

.chat-list .item {
    height: 2.8985507246rem;
    border-bottom: solid 1px #dfdfdd;
    box-sizing: border-box;
    /* padding: 0.3913043478rem 0; */
}

.chat-list .item .item-pic {
    float: left;
    width: 2.1739130435rem;
    height: 2.1739130435rem;
    float: left;
    background-color: pink;
    border-radius: 0.1449275362rem;
    margin-right: 0.4347826087rem;
    position: relative;
}

.chat-list .item .item-pic .tip {
    position: absolute;
    width: 0.7536231884rem;
    height: 0.7536231884rem;
    border-radius: 0.3768115942rem;
    right: -0.1884057971rem;
    top: -0.1884057971rem;
    font-size: 0.4347826087rem;
    line-height: 0.7536231884rem;
    color: white;
    text-align: center;
    font-style: normal;
    background-color: #f3343b;
}

.chat-list .item .item-pic img {
    width: 100%;
    height: 100%;
}

.chat-list .item .item-info {
    float: left;
    width: 14.4927536232rem;
    height: 100%;
    box-sizing: border-box;
    padding: 0.3913043478rem 0;
}

.chat-list .item .item-info .item-font {
    height: 1.0869565217rem;
    font-size: 0.5797101449rem;
    line-height: 1.0869565217rem;
    color: #9b9b9b;
}

.chat-list .item .item-info .item-font .name {
    font-size: 0.7246376812rem;
    color: #000000;
}

.chat-list .item .item-info .item-font .time {
    float: right;
}
.chat-list .item .item-info .item-font button {
    float: right;
    border: 0;
    height: 1.1594202899rem;
    background-color: #1aad19;
    color: white;
    width: 2.4637681159rem;
    border-radius: 0.1449275362rem;
    font-size: 0.6086956522rem;
    line-height: 1.1594202899rem;
    outline: none;
}

/*# sourceMappingURL=newFriend.css.map */